.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-primary-box);
  padding: 20px 15px;

  &__header {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__board{
    margin-block: 0;
    cursor: pointer;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
