<ng-container *ngIf="isLoggedIn$ | async">
  <app-navbar *ngIf="!isMobile"></app-navbar>
  <app-sidebar *ngIf="!isMobile"></app-sidebar>
  <app-navbar-mobile *ngIf="isMobile"></app-navbar-mobile>
</ng-container>
<main class="container" [class.container--auth]="!(isLoggedIn$ | async)"  [class.container--expanded]="isExpanded$ | async">
  <router-outlet></router-outlet>
</main>

<ng-template placeholder></ng-template>

<div class="overlay" *ngIf="isCheckingAuth">
<app-spinner></app-spinner>
</div>
